*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fb;
}

header{
    background:#0057ff;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

.login{
    background:#005eff;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

.hero{
    background:#0057ff;
    color:white;
    text-align:center;
    padding:70px 20px;
}

.hero h1{
    font-size:42px;
    margin-bottom:10px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.hero input{
    width:70%;
    max-width:700px;
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:18px;
}

.services{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    padding:40px;
}

.card{
    background:white;
    padding:30px;
    text-align:center;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    font-size:20px;
    cursor:pointer;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

footer{
    background:#0057ff;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}
.card{
    text-decoration:none;
    color:black;
}
.card img{
    width:100px;
    height:100px;
    object-fit:contain;
    display:block;
    margin:0 auto 15px;
}
.cart-box{

position:fixed;

top:20px;

right:20px;

background:#0057ff;

color:white;

padding:15px;

border-radius:10px;

font-weight:bold;

box-shadow:0 5px 10px rgba(0,0,0,.3);

}

#cartBox{
position:fixed;
top:70px;
right:20px;
background:#005eff;
color:white;
padding:12px;
border-radius:10px;
font-weight:bold;
z-index:999;
}

button{
    background:#005eff;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    margin-top:10px;
}

button:hover{
    background:#0044cc;
}

.cart-box{
    position:fixed;
    top:90px;
    right:20px;
    background:#005eff;
    color:white;
    padding:15px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
}

.card img{
    width:120px;
    height:120px;
    object-fit:contain;
}

.card{
    text-align:center;
}
<h3>${item.name}</h3>

<p>Price : ₹${item.price}</p>

<div class="qty-box">
    <button onclick="decrease('${item.name}')">-</button>

    <span>${item.qty}</span>

    <button onclick="increase('${item.name}')">+</button>
</div>

<h3>Total : ₹${item.price * item.qty}</h3>
input{

width:90%;

padding:12px;

border-radius:8px;

border:1px solid #ccc;

font-size:16px;

}